* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #080D1A;
    min-height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
}

footer {
    position: relative;
    background-color: aliceblue;
}

.bg-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* Adiciona a imagem de fundo com um gradiente para escurecer a imagem */
    background-image: linear-gradient(rgba(8, 13, 26, 0.70), rgba(8, 13, 26, 0.70)),
        url('../img/Dementadores-Harry-Potter-Curiosidades.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-top: 1px solid #A47B17;
    text-align: center;
}

@media (max-width: 480px) {
    footer {
        height: 60px;
    }
}